<html>
    <head>
        <title>MRTWO ITA FUND</title>
    </head>

    <style>
        body{
            max-width: 20em;
            margin: 0 auto;
            text-align: center;
        }
        #mr2{
            width: 100%;
            heigth: 100%;
        }
        #button{
            border: 1px black solid;
            background-color: pink;
            font-weight: bold;
            padding: 1em;
        }
    </style>

    <body>
        <h1 class='class'>MrTwo's GoCuckMe</h1>
        <img class='class' id='mr2' src='https://images.cdn.circlesix.co/image/2/1200/630/5/uploads/articles/1993-toyota-mr2-10-5595009e0a168.jpg'>
        <h1 class='class' id='h1'>+</h1>
        <img class='class' id='yukiko' src='https://static.giantbomb.com/uploads/scale_small/11/115901/2125692-yukikop4g.png'><br>
        <button onclick='hide()' class='class' id='button'>Click to gib</button>

        <div id='david'>
        </div>

    </body>

    <script>
        var i = 0;

        var star= ['<p>_________________*___________________</p>',
                '<p>_______________*___*_________________</p>',
                '<p>_____________*_______*_______________</p>',
                '<p>*************************************</p>',
                '<p>__*_______*______________*_______*___</p>',
                '<p>____*___*_____THANK______*___*_____</p>',
                '<p>______*_________YOU________*_______</p>',
                '<p>____*___*_____GOYIM______*___*_____</p>',
                '<p>__*_______*______________*_______*___</p>',
                '<p>*************************************</p>',
                '<p>______________*_______*______________</p>',
                '<p>________________*___*________________</p>',
                '<p>__________________*__________________</p>'];
        
        var id = ['#mr2', '#h1', '#yukiko', '#button'];
        var j = 0;

        function hide(){          
            setTimeout(function(){
                $(id[j]).hide();
                j++;
                if (j==id.length){
                    draw();
                }
                if (j < id.length){
                    hide();
                }
            }, 500);
        }

        function draw(){  
            setTimeout(function(){    
                document.getElementById('david').innerHTML += star[i];       
                i++;  
                if (i == star.length){
                    blink();
                }                   
                if (i < star.length) {            
                    draw();            
                }                      
            }, 100);
        }

        var k=0;

        function blink(){
            setTimeout(function(){ 
                $('#david').toggle();
                k++;
                if (k<10){
                    blink();
                }
            },350);
        }
    </script>
</html>