<html>
    <head>
        <title>MRTWO ITA FUND</title>
    </head>

    <style>
        html{
            display: flex;
        }
        #mr2{
            width: 20%;
            heigth: 20%;
        }
    </style>

    <body>
        <h1>gid moni pls</h1>
        <img id='mr2' src='https://images.cdn.circlesix.co/image/2/1200/630/5/uploads/articles/1993-toyota-mr2-10-5595009e0a168.jpg'>
        <h1>+</h1>
        <img id='yukiko' src='https://static.giantbomb.com/uploads/scale_small/11/115901/2125692-yukikop4g.png'><br>
        <button onclick=alert('fyn')>Click to gib</button>

    </body>
</html>